:root {
  --bg_color: white;
  --primary_color: rgb(34, 34, 34);
  --link_color: navy;

  --map_bg_color: #a4d1db;
  --land_fill_color: #1e8346;
  --land_hightlight_color: #3b965f;
  --land_non_selectable_color: #166c38;
  --land_tan_color: #f1e9d7;
}

[data-theme="dark"] {
  --bg_color: #292c32;
  --primary_color: #c5cfd8;
  --link_color: cyan;
}

body {
  color: var(--primary_color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: pink; */
}
#combined path {
  stroke-width: 2;
  fill: var(--land_fill_color);
  stroke: var(--map_bg_color);
  /* transition: fill 0.2s ease; */
}

#combined path:hover {
  fill: var(--land_hightlight_color);
  cursor: pointer;
}
.mapsContainer {
  /* background-color: var(--map_bg_color); */
  /* background: linear-gradient(var(--map_bg_color) 0 0) top/100% 92.5% no-repeat; */

  display: grid;
  /* justify-content: center; */
  position: relative;
  /* height: 100vh; */
  max-width: 700px;
  height: 100%;

  width: 90vw;
  aspect-ratio: 600/616;
}
.mapForegroundContainer {
  /* background-color: red; */
  /* display: none; */
  pointer-events: none;
}
.map1Container {
  /* z-index: 1; */
  /* display: none; */
  position: absolute;
  left: 0px;
  right: 0px;
}
.mapBackgroundContainer {
  /* background-color: blue; */
  /* display: none; */
}
#mapToAdjust {
  position: absolute;
  left: 0px;
  right: 0px;
  transform: translate(-0.5%, 0.6%) scale(0.945);
}

#map1 {
  /* display: none; */
  z-index: 0;
}

[inkscape\:label="small streets"] {
  display: none;
  stroke: var(--map_bg_color);
}

[inkscape\:label="main roads"] {
  display: none;
}

[inkscape\:label="rail"] {
  display: none;
}

/* land  train */
#path15668 {
  stroke: white;
  /* stroke-width: 0.47999999; */
  stroke-width: 1.5;
  display: none;
}
/* duplicate land train */
#path5300 {
  stroke: red;
  /* stroke-width: 0.40000001; */
  stroke-width: 1.5;
  display: none;
}

/* boat or underground */
#path13560 {
  stroke: white;
  /* stroke-width: 0.23999999; */
  stroke-width: 1;
  display: none;
}
/* idk south transit something */
#path15440 {
  stroke: white;
  /* stroke-width: 1.20000005; */
  stroke-width: 1.5;
  display: none;
}
/* duplicate south transit */
#path5302 {
  stroke: white;
  /* stroke-width: 0.73728001; */
  stroke-width: 1.5;
  display: none;
}

[inkscape\:label="freeways"] {
  display: none;
  stroke: white;
  /* opacity: 0.74112555; */
}
[inkscape\:label="inset"] {
  display: none;
}

[inkscape\:label="road names"] {
  display: none;
}

[inkscape\:label="route shields"] {
  display: none;
}
[inkscape\:label="region names"] {
  display: none;
}

[inkscape\:label="key"] {
  display: none;
}

/* weird black box */
[inkscape\:label="frame"] {
  display: none;
}

[inkscape\:label="foreground"] {
  /* display: none; */
}

/* Ocean vector */
#rect32634 {
  /* display: none; */
  fill: var(--map_bg_color);
}
/* Ocean */
#rect218 {
  display: none;
}
#path3648 {
  /* display: none; */
}

/* sf filler */
#path28764 {
  /* display: none; */
  fill: var(--map_bg_color);
  stroke: var(--map_bg_color);
  /* stroke-width: 0.47999999; */
  stroke-width: 1;
}

/* all land */
#path1760 {
  fill: var(--land_non_selectable_color);
  /* display: none; */
  stroke: none;
  /* stroke-width: 0.47999999; */
  stroke-width: 1;
}

[inkscape\:label="districts"] path {
  fill: lightblue;
  stroke: white;
  stroke-width: 1;
  display: none;
}

[inkscape\:label="geography"] {
  /* has outline and parks */
  display: none;
}

/* city outline */
#path5296 {
  display: none;
}

/* parks */
#path32636 {
  stroke-width: 0.5;
  /* fill: lightblue; */
  /* stroke: red; */
  /* stroke: white; */
  display: none;
  fill: var(--land_hightlight_color);
  fill-opacity: 1;
  fill-rule: nonzero;
  /* stroke: none; */
}

/* park fillers */
#path322 {
  display: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#tooltip {
  display: none;
  pointer-events: none;
  position: absolute;
  font-size: 14px;
  text-align: center;
  background: white;
  padding: 10px 15px;
  z-index: 5;
  height: auto;
  line-height: 30px;
  margin: 0 auto;
  color: #313131;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #eee;
  transform: translate(-50%, -150%);
  display: none;
}

#answerTooltip {
  display: none;
  pointer-events: none;
  position: absolute;
  font-size: 14px;
  text-align: center;
  z-index: 5;
  height: auto;
  line-height: 30px;
  margin: 0 auto;
  color: #313131;
}
