body {
  display: flex;
  justify-content: center;
  background-color: pink;
}
#combined path {
  stroke-width: 2;
  fill: lightblue;
  /* stroke: red; */
  stroke: white;
  transition-duration: 300ms;
}

.mapsContainer {
  background-color: pink;
  display: grid;
  /* justify-content: center; */
  position: relative;
  /* height: 100vh; */
  max-width: 700px;
  height: 100%;

  width: 90vw;
  aspect-ratio: 600/616;
}

.map1Container {
  /* z-index: 1; */
  /* display: none; */
  position: absolute;
  left: 0px;
  right: 0px;
}
.map2Container {
  position: absolute;
  left: 0px;
  right: 0px;
  transform: translate(-0.5%, 0.6%) scale(0.945);
}

#map1 {
  /* display: none; */

  z-index: 0;
}

[inkscape\:label="small streets"] {
  /* display: none; */
}

[inkscape\:label="main roads"] {
  display: none;
}

[inkscape\:label="rail"] {
  display: none;
}

[inkscape\:label="freeways"] {
  display: none;
}
[inkscape\:label="inset"] {
  display: none;
}

[inkscape\:label="road names"] {
  display: none;
}

[inkscape\:label="route shields"] {
  display: none;
}
[inkscape\:label="region names"] {
  display: none;
}

[inkscape\:label="key"] {
  display: none;
}

[inkscape\:label="frame"] {
  display: none;
}

[inkscape\:label="foreground"] {
  /* display: none; */
}
/* Ocean vector */
#rect32634 {
  display: none;
}
/* Ocean */
#rect218 {
  display: none;
}
#path3648 {
  display: none;
}

/* sf filler */
#path28764 {
  display: none;
}

#path1760 {
  fill: blue;

  display: none;
}

[inkscape\:label="districts"] path {
  fill: lightblue;
  stroke: white;
  stroke-width: 1;
  display: none;
}

[inkscape\:label="geography"] {
  /* has outline and parks */
  /* display: none; */
}

/* city outline */
#path5296 {
  display: none;
}

/* parks */
#path32636 {
  stroke-width: 0.5;
  /* fill: lightblue; */
  /* stroke: red; */
  stroke: white;
  transition-duration: 300ms;
  /* display: none; */
  fill: #6fa22c;
  fill-opacity: 1;
  fill-rule: nonzero;
  /* stroke: none; */
}

/* park fillers */
#path322 {
  display: none;
}
